/*why not red?*/

body {

  background-color: red;
  font-family: fantasy;
}

/*it won't do what I want and that's very frustrating.*/
#emotion {

display:inline-flex;
width: 100%;
height: 100%;
margin: 0 auto;
}

/*Well, at least the images are the right size.*/

img{

height: 100px;
width: 100px;
}
